---
title: Welcome to middleman with Foundation
---

<div class="welcome">
  <h1>Welcome to middleman</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
