// Make sure the charset is set appropriately
@charset "UTF-8";

@import 'settings';
@import 'foundation/all';

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import 'mixins';
@import 'animations';

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

.page-wrap{
    h1 {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background: url("../images/middleman.png") no-repeat center 100px;
    padding: 350px 0 10px;
    margin: 0;
  }

  .doc {
    font-size: 14px;
    margin: 0; }
    .doc:before,
    .doc:after {
      opacity: .2;
      padding: 6px;
      font-style: normal;
      position: relative;
      content: "•"; }
    .doc a {
      color: rgba(0, 0, 0, 0.3); }
      .doc a:hover {
        color: #666; }

  .welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s; }
}
